# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
/.idea.EADPPROJ.iml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\15276\source\repos\NorthstarWang\Education-System-NYP\.idea\.idea.EADPPROJ\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
